/* ADDING BREAKPOINTS / MEDIA QUERIES------------------------------------------------------------------- */

/* 320px — 480px: Mobile devices ----------------------------------*/
@media only screen and (max-width: 480px) {

/* HEADER 1 HEADER 1 HEADER 1 HEADER 1 HEADER 1 HEADER 1 HEADER 1 */
.header1{
    display: none;
}
/* HEADER 2 HEADER 2 HEADER 2 HEADER 2 HEADER 2 HEADER 2 HEADER 2 */
.header2top{
    /* border: solid 2px red; */
    flex-direction: column;
}

.header2{
    flex-direction: column;
    justify-content: space-around;
}

.header2 div button{
    /* border: solid 2px red; */
    padding: 5px;
    font-size: 20px;
}

.header2div2{
    /* border: solid 2px red; */
    width: 100%;
    justify-content: center;
}

.header2 .dropdown-content{
    display: none;
}

/* LOGO 1 LOGO 1 LOGO 1  LOGO 1 */
.logo1{
    width: 100px;
    margin-bottom: 0px;
}

/* BANNER 2 BANNER 2 BANNER 2 BANNER 2 BANNER 2 BANNER 2 BANNER 2 */

.b2p1{
    font-size: 60px;
    text-align: center;
    padding: 0px;
}

.b2p2{
    font-size: 35px;
    text-align: center;
    padding: 0px;
}

.banner2{
    /* border: solid 2px red; */
    width: 100%;
    padding-right: 0px;
}

.banner2links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* border: solid 2px red; */
}

.banner2links div{
    border: solid 2px white;
    padding: 10px;
    margin: 10px 40px;
    background: rgba(4, 5, 4, 0.553);
}

/* BANNER 3 BANNER 3 BANNER 3 BANNER 3 BANNER 3 BANNER 3 BANNER 3 BANNER 3 BANNER 3 */
.b3p1{
    font-size: 50px;
}

.banner3links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.banner3links div{
    margin-top: 20px;
}



/* END OF MEDIA QUERIES END OF MEDIA QUERIES END OF MEDIA QUERIES END OF MEDIA QUERIES END OF MEDIA QUERIES */
}