body{
    display: flex;
    flex-direction: column;
    /* border: solid 2px greenyellow; */
}

/* Header 1------------------------------------------- */
.header1{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.header1 div{
    padding: 5px 10px;
}

/* Header 2------------------------------------------- */
.header2{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.header2 div{
    padding:15px;
    font-weight: 800;
}

/* BANNER------------------------------------------- */
.banner{
    text-align: center;
    color: white;
    background-color: black;
    font-weight: 200;
    /* border: solid 2px red; */
}

.banner p {
    padding: 0px 10px;
}

/* BANNER2------------------------------------------- */
.banner2{
    display: flex;
    justify-content: flex-end;
    padding-right: 10%;
    padding-bottom: 190px;
    background-image: url(img/sweater.jpeg);
    background-size:cover;
    color: white;
}

/* BANNER 2 PARAGRAPH 1 */
.b2p1{
    font-size: 100px;
    margin-bottom: 0px;
}

/* BANNER 2 PARAGRAPH 2 */
.b2p2{
    font-size: 30px;
}

/* BANNER 2 Links at the bottom */
.banner2links{
    display: flex;
    justify-content: flex-start;
}

.banner2links div{
    border: solid 2px white;
    padding: 4px;
    margin-right: 10px;
    background: rgba(4, 5, 4, 0.553);
}

.banner2links div:hover{
    border: solid 2px white;
    background: white;
    color: black;
    transition: .5s;
}

/* BANNER3------------------------------------------- */
.banner3{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 60px;
}

/* BANNER 3 PARAGRAPH 1 */
.b3p1{
    font-size: 70px;
    margin: 10px;
}

/* BANNER 3 PARAGRAPH 2 */
.b3p2{
    font-size: 25px;
}

/* BANNER 3 Links at the bottom */
.banner3links{
    display: flex;
    justify-content: center;
}

.banner3links div{
    border: solid 2px black;
    padding: 6px 30px;
    margin-right: 10px;
    
}

.banner3links div:hover{
    background: black;
    color: white;
    transition: .3s;
}

/* BANNER 3 image for the xplr pass */
.banner3img{
    background-image: url(img/xplrpass.svg);
    width: 250px;
}


/* BANNER4------------------------------------------- */
.banner4{
    /* height: 650px; */
    display: flex;
    justify-content:space-between ;
    text-align: left;
    /* padding-top: 40px; */
    /* border: solid 2px red; */
}

.banner4 .bannercontext{
    padding: 200px 0px 100px 300px;
}

/* BANNER 4 PARAGRAPH 1 */
.b4p1{
    font-size: 50px;
}

/* BANNER 4 PARAGRAPH 2 */
.b4p2{
    font-size: 25px;
}

/* BANNER 4 Links at the bottom */
.banner4links{
    display: flex;
    justify-content: flex-start;
}

.banner4links div{
    border: solid 2px black;
    padding: 6px 30px;
    margin-right: 10px;
    
}

.banner4links div:hover{
    background: black;
    color: white;
    transition: .3s;
}

/* BANNER 3 image for the xplr pass */ 
.banner4img{
    width: 1600px;
    /* align-content: center; */
    padding-top: 50px;
} 

/* BAMNER CONTEXT 2 for a legends */
.banner4 .bannercontext2{
    padding: 200px 200px 100px 30px;
}

/* Promotions banner -------------------------------------------------------------------*/
.promotions{
    display: flex;
    background-color: rgb(249,249,249);
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content:center;
    border-bottom: solid 2px gainsboro;
}

.promotions div{
    padding: 0px 20px;
}

/* Paragraph styling for the the promtotions banner ---------------*/
.promotionp1{
    font-size: 20px;
}

.promotionp2{
    font-size: 15px;
}
.promotionp2:hover{
    color: red;
}

/* Promotions images styling----------------*/
.promotionimg{
    width: 400px;
}

/* FOOTER AREA------------------------------------------------------------------------------------------ */
.footer{
    display: flex;
    justify-content: center;
}
.footer div{
    padding: 10px 30px;
}

.footer ul{
    list-style: none;
    text-align: left;
    padding-top: 10px;
}

.footer li{
    padding-top: 10px;
    /* font-size: 15px; */
}

.footer li:hover{
    color: red;
}

.listTitle{
    font-weight: 800;
    padding-bottom: 5px;
}
/* FOOTER AREA 2 ------------------------------------------------------------------------------------------ */
.footer2{
    display: flex;
    justify-content: center;
}

.footer2 div{
    padding: 0px 50px;
}

.sociallinks{
    display:flex;
}

.sociallinks div{
    padding: 0px 5px;
}

.footer2 p{
    text-align: center;
}




/* ADDING BREAKPOINTS / MEDIA QUERIES------------------------------------------------------------------- */

/* 320px — 480px: Mobile devices ----------------------------------*/
/* all styling has been moved to style2.css */

/* 481px — 1024px: Tablets & Small Screens ----------------------------------*/
/* all styling has been moved to style3.css */